*{
	padding:0px;
	margin:0px;
}

.main{
	width:100%;
	height:auto;
	float:left;
}

.menu{
	width:100%;
	height:auto;
	float:left;
}

.nav-item{
	margin-left:20px;
	font-weight:bold;
	font-size:17px;
	position:static;
}

.nav-item ul{
	width:200px;
	height:auto;
	padding:5px;
	list-style-type:none;
	font-weight:normal;
	font-size:16px;
	background-color:ghostwhite;
}

.nav-item ul li{
	margin-top:10px;
}

.sub_menu{
	display:none;
}

.sub_menu li a{
	text-decoration:none;
	color:black;
}

.nav-item:hover .sub_menu{
	display:inline-block;
}

.logo{
	height:100px;
}

.nav-item:hover{
	border-bottom:2px solid black;
	box-sizing:border-box;
}

/*sec1*/

.contact_info{
	width:100%;
	height:auto;
	float:left;
	background-color:#0d616b;
}

/*sec2*/

.slider{
	width:100%;
	height:auto;
	float:left;
}

.slider_img{
	width:100%;
	height:450px;
}

@media(max-width:660px){
	.slider_img{
		height:300px;
	}
}

/*part 4*/

.sec4{
	width:100%;
	height:auto;
	float:left;
}

.know_about{
	margin-top:40px;
	text-align:justify;
}

.know_about h3{
 text-align:center;
 color:#12497f;
 margin-top:20px;
 font-weight: bold;
}

.know_about h2{
 text-align:center;
 color:#0f666c;
 margin-top:15px;
 font-weight: bold;
}

.know_about p{
	font-size:20px;
}

.our_vision h2{
	text-align:center;
	font-weight:normal;
}

.our_vision p{
	text-align:right;
	font-size:18px;
}

.our_mission h2{
	text-align:center;
	font-weight:normal;
}

.our_mission p{
	text-align:left;
	font-size:18px;
}

.cashless_sec{
	margin-top:35px;
	border:8px solid #0f666c;
	box-sizing:border-box;
	border-radius:50px;
	background-color:#ecf5f4;
}

.cashless_sec h3{
	text-align:center;
	margin-top:25px;
	color:#0f666c;
}

.img_sec img{
	width:100px;
	height:100px;
	float:left;
	border:1px solid black;
	margin-left:80px;
	box-shadow:15px 15px 5px 5px #154f87;
}

.bor_r{
	border-right:2px dotted black;
	box-sizing:border-box;
}

.bor_b{
	border-bottom:2px dotted black;
	box-sizing:border-box;
}

.review_sec{
	width:100%;
	height:auto;
	float:left;
	background-image:linear-gradient(to left,skyblue,lightblue,lightcoral);
	margin-top:20px;
}

.part1 h4{
	margin-top:70px;
}

.part2 h1{
	margin-top:20px;
}

.part2 i{
	font-size:24px;
	color:#f5bc02;
}

.part3{
	border-radius:10px;
	margin-bottom:50px;
/*	background-color:ghostwhite;*/
}
.part3 i{
	color:#f5bc02;
}

.part4{
	border-radius:10px;
	margin-bottom:50px;
}

.part4 i{
	color:#f5bc02;
}

.part3:hover{
	background-color:ghostwhite;
}

.part4:hover{
	background-color:ghostwhite;
}

/*part6*/

.sec_6{
	width:100%;
	height:auto;
	float:left;
}

.services_sec h2{
	margin-top:20px;
	color:#166667;
}

.services_sec h4{
	margin-top:10px;
	color:#426992;
}

.desc_area{
	border-radius:20px;
	background-color:#b6dfe5;
}

.desc_area h5{
	font-weight:bold;
}

.desc_area:hover h5{
	color:blue;
}

.desc_area button{
	border:2px solid black;
	font-size:18px;
	width:120px;
	height:50px;
	border-radius:15px;
}

.desc_area button:hover{
	background-color:blue;
	color:white;
}

.images_area{
	text-align:center;
	border:3px solid #17636a;
}

.images_area img{
	border-top-left-radius:30px ;
	border-top-right-radius:30px ;
}

.images_area_wo_b{
	text-align:center;
}

.images_area_wo_b img{
	border-top-left-radius:30px ;
	border-top-right-radius:30px ;
}


/*part7*/

.sec_7{
	width:100%;
	height:auto;
	float:left;
}

.sec_7_img{
	text-align:center;
}

.sec_7_img img{
	border-radius:20px;
	box-shadow:10px 10px #166667;
}

.sec_7_dec{
	padding:10px;
	border:1px dashed black;
	margin-top:20px;

}

/*part8*/

.sec_8{
	width:100%;
	height:auto;
	float:left;
}

.text-center{
	color:#166667;
}

.sec_7_video{
	text-align:center;
}

.sec_7_video iframe{
	padding:10px;
	border:3px solid #166667;
}

/*part9*/

.sec_9{
	width:100%;
	height:auto;
	float:left;
}

.sec_9_image{
	text-align:center;
	margin-top:2px;
}

.sec_9_image img{
	height:auto;
	width:auto;
}

/*footer*/

.footer{
	width:100%;
	height:auto;
	float:left;
	background-color:#dddddd;
}

.footer_logo{
	text-align:center;
}

.footer_logo i{
	letter-spacing:25px;
	color:#174e7f;
	margin-top:30px;
	font-size:30px;
	margin-left:15px;
}

.border_class{
	border-top:4px solid #166667;
}

.border_class i{
	color:#174e7f;

}

.pin_color{
	color:#174e7f;
}

.COPYRIGHT{
	width:100%;
	height:70px;
	background-color:#166667;
	text-align:center;
	color:white;
}


/*Traning and workshop page*/

.traning_img_top{
	width:100%;
	height:350px;
	padding:0px;
}

.traning_img{
	height:400px;
	border:3px solid #489db1;
	box-shadow:15px 10px #489db1;
}

.color_h3 h3{
	color:#2b4c66;
}

.color_h3 p{
	margin-top:10px;
	font-size:18px;
	text-align:justify;
}


/*Blog page*/
.blog_img{
	border-top:2px solid gray;
	border-bottom:2px solid gray;
	border-left:2px solid black;
}


.blog_desc{
	border-top:2px solid gray;
	border-bottom:2px solid gray;
	border-right:2px solid gray;
}
